<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/59579c29-d30b-4a3d-a102-6cf14458681e/resourceGroups/testEDP/providers/Microsoft.Web/sites/testBlogApp1</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://testblogapp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>testblogapp1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testBlogApp1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testBlogApp1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>